# Binaries for programs and plugins
*.db
.idea
logs
test
data
.DS_Store
test.go
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
